.input {
  padding: 2rem;
  font-size: 10px;
  height: 2rem;
}

.element {
  height: 1rem;
  font-size: 10px;
}

.display {
  padding: 1.5rem;
}

.top-button {
  margin: 0.5rem;
  font-size: 10px;
}

h1 {
  text-align: center;
}
