.bottombar {
  display: flex;
  position: relative;
  background-color: black;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}

.bottomtext {
  padding: 2rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  .bottomtext {
    padding: 2rem;
    font-size: 2.5rem;
  }
}
