.movie {
  width: 6rem;
  height: 9rem;
  border-radius: 3%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.movie:hover {
  border-color: #646cff;
}

.moviecard {
  text-align: center;
  margin: 1rem;
}

p {
  text-align: center;
}

.favorite-button {
  width: 5rem;
  font-size: 10px;
}

@media only screen and (max-width: 1400px) {
  .movie {
    width: 30rem;
    height: 45rem;
  }

  .favorite-button {
    width: 15rem;
    font-size: 2rem;
  }

  p {
    font-size: 2.5rem;
  }
}
