.movie-image {
  width: 12rem;
  height: 18rem;
  border-radius: 3%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.movie-image:hover {
  border-color: #646cff;
}

.moviecard {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  height: 100%;
}

p {
  text-align: center;
}

.favorite-button {
  display: flex;
  width: 6rem;
  font-size: 1rem;
  margin-top: auto;
}

@media only screen and (max-width: 1400px) {
  .movie-image {
    width: 30rem;
    height: 45rem;
  }

  .favorite-button {
    display: flex;
    width: 15rem;
    font-size: 2rem;
    bottom: 0;
  }

  p {
    font-size: 2.5rem;
  }
}
