.movie {
  width: 6rem;
  height: 9rem;
  border-radius: 3%;
}

.moviecard {
  text-align: center;
  margin: 1rem;
}

p {
  text-align: center;
}

.favorite-button {
  width: 5rem;
  font-size: 10px;
}
