* {
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 100vw;
  position: relative;
  flex-direction: row;
  background-color: black;
  padding: 2rem;
  justify-content: space-between;
}

.button {
  margin: 3rem;
}
